.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.Calc {
  min-width: 320px;
  width: 80%;
  background: linear-gradient(to left, #ffedba, #ED4260);
  height: 400px;
  text-align: center;
  color:#131111;
  box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

